* {
    max-width: 1240px;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

*:focus {
    outline: auto 2px #54b3d6;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: red;
    background-color: #51c653;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    /*transition: color .3s ease-in-out, box-shadow .3s ease-in-out;*/
    transition: 1s ease-in-out;
}
*:focus:hover {

    transition: 1s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: black;
    font-family: 'Red Hat Display', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 10vw;
    max-width: 75vw;
    margin:16px 0 8px 0;
    color: #fefefe;
}
h1 span {
    background-image: linear-gradient(transparent calc(65% - 5px), #ec06ab 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
}
h1:hover span {
    background-size: 100%;
}


h2 {
    font-size: 5vw;
    max-width: 38vw;
    color: #fefefe;
    margin:16px 0 8px 0;
}
h2 span {
    background-image: linear-gradient(transparent calc(65% - 5px), #ec06ab 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
}
h2:hover span {
    background-size: 100%;
}
h3 {
    color: #c68cfc;
}
ul {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 53px;
}
.menu-categories__item {
    padding: 0 2rem;
}

.menu-categories__link {
    transition: all .3s;
    font-weight: 400;

    transform: translate(-50%,-50%);
}

/*.menu-categories__link::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 0;*/
/*    left: auto;*/
/*    right: 0;*/
/*    background-color: #1C62CD;*/
/*    transition: all .3s;*/
/*}*/

.menu-categories__link:hover {
    border-bottom: 3px solid #1C62CD;
    cursor: pointer;
}

.menu-categories__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
    cursor: pointer;
}


.inputs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 22px;
}



.navigation {

    padding: 18px;
}
button {
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400 !important;
    background-color: #e63946ff;
    color: #fff;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    border-radius: 2px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}